body {
    margin: 0px;
    background-color:bisque;
    font-family: 'JetBrains Mono', monospace;
}

/* Navigation Bar */
#navBar {
    background-color: #212529;

    display: flex;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
    height:100px;
    
}

#navList {
    display: flex;
    list-style: none;
}

.navItem {
    padding-bottom: 10px;
    padding: 15px;
    font-size: 25px;
    color: grey;
}
#navImage {
  height: 70px;
  padding-top: 5px;
}

/* Transition Content */
#transitionalContent {
    text-align: center;
    background-image: url('people2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    margin: 5%;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -5px;
    margin-bottom: -75px;
}


/* Text Container */
#text {
    display: flex;
    background-image: linear-gradient(white, gray);
}

/* Main Text Box */
#mainText {
    display: flex;
    flex-direction: column;

    border-style: solid;
    border-color: black;
    padding: 15px;

    margin: 5%;
    width: 60%;
    text-align: center;
    
}

.listing {

    margin:20px;

    display: flex;
}

h2 {
    font-size: 30px;
}

.listingText {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* Side Text Box */
#sideText {
    display: flex;
    flex-direction: column;
    
    border-style: solid;
    border-color:black;
    margin: 5%;
    margin-left: 0px;
    width: 30%;
    text-align: center;
}

.stItem {
    display: flex;
    flex-direction: column;

    border-style: none;
    border-color: black;
    margin: 10px;
    

    display: flex;
}

a {
    text-decoration: none;
}

.navItem:hover {
    text-decoration: underline;
    color: cyan;
}

.home {
    text-decoration: underline;
    color: cyan; 
}

.wsnyc {
    width: 200px;
    height: 200px;
    float: left;
    padding-bottom: 50px;
}

#purple {
    display: flex;
    flex-direction: row;
}

.ANY {
    float: right;
}

.habitat {
    float: left;
    padding-bottom: 15px;
}

.emptyspace {
    visibility: hidden;
}

.transitionH {
    background-image: linear-gradient(to right,white, gray);
}

#purple2 {
    margin-left: -35px;
    margin-right: -20px;
}

#red {
    margin-left: -35px;
    margin-right: -20px;
}

#blue {
    margin-left: -35px;
    margin-right: -20px;
}



.transitionH {
    background-color: white;
}

#purple2 {
    margin-left: -35px;
    margin-right: -20px;
}

#red {
    margin-left: -35px;
    margin-right: -20px;
}

#blue {
    margin-left: -35px;
    margin-right: -20px;
}

#contact {
    background-color: #212529;
    color: grey;
    margin-top: -20px;
    margin-bottom: -20px;
}

.ourcontacts {
    display: flex;
    flex-direction: column;
}

#college {
    margin: 45px;
    padding: 0px;
}

#networking {
    padding: 0px;
    width: 300px;
    margin-left: 45px;
}

#social {
   width: 290px;
   margin-left: 45px;
   padding: 0px;
}

#experience {
    width: 290px;
    padding: 0px;
    margin-left: 45px;
}

#purple p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#red p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#blue p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#college p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#networking p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#social p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#experience p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-weight: bold;
    font-size: 25px;
}



.listings {
    color: cyan;
    text-decoration:underline;
}

#purple2 a {
    color: black;
}

#purple2 a:hover {
    color: cyan;
    text-decoration: underline;
    opacity: 0.6;
}

.github {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

h2, #abtTitle{
    display: flex;
    justify-content: center;
}